* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    max-width: 1920px;
    max-height: 1080px;
  }
  
  ul {
    list-style: none;
  }