.imagens-slider{
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
}

.imagens-slider .slide{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: 0.5% ease-out;
    display: flex;
    align-items: center;
}

.imagens-slider .slide.mostrar{
    opacity: 1;
}

.slide-rosa{
    background-image: url('../img/rosa.png');
}
.slide-amarelo{
    background-image: url('../img/amarelo.png');
}
.slide-azul{
    background-image: url('../img/azul.png');
}
.slide-laranja{
    background-image: url('../img/laranja.png');
}
.seta-esquerda, .seta-direita{
    position: absolute;
    z-index: 1;
    width: 50px;
    height: 50px;
}

.seta-esquerda{
    left: 4%;
}
.seta-direita{
    right: 4%;
    transform: rotateY(180deg);
}
.opacidade{
    opacity: 0.5;
    cursor: default;
}

.conteudo{
    background-color: white;
    margin-left: 180px;
    padding: 65px 60px;
    width: 620px;
    border-radius: 10px;
}
.titulo{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 80px;
}
.texto{
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: 50px;
}
.botao{
    font-size: 3rem;
    font-weight: 700;
}
.botao.rosa{
    color: red;
}
.botao.amarelo{
    color:yellow
}
.botao.azul{
    color:cornflowerblue
}
.botao.laranja{
    color: orange;
}